@charset "utf-8";

@font-face {
    font-family: Georgia;
    src: url(georgia.woff) format('woff'),
         url(georgia.ttf) format('truetype');
}

/*
    Author: Ricardo Vazquez
    Date: 11/04/2023

    Filename: style.css
*/

/* HTML and Body styles */




/* Heading Styles */






/* Navigation Styles */




/*   List styles */





/* Footer Styles */